<b>Exercise 2: Create markdown cell with title of the notebook</b>

<h1> Data Science Tools and Ecosystem<h1>

<b>Exercise 3 - Create a markdown cell for an introduction</b>

In this notebook, Data Science Tools and Ecosystem are summarized

<b>Exercise 10 - Insert a markdown cell to list Objectives</b>

<b>Objectives:</b>
<ul>
    <li>Python</li>
  <li>R</li>
  <li>Java</li>
    <li>Scala</li>
  <li>SQL</li>  
</ul>

<b>Exercise 4 - Create a markdown cell to list data science languages</b>

Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python</li>
  <li>R</li>
  <li>Java</li>
</ol>

<b>Exercise 5 - Create a markdown cell to list data science libraries</b>

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>NumPy</li>
  <li>SciPy</li>
  <li>Pandas</li>
</ol>

<b>Exercise 6 - Create a markdown cell with a table of Data Science tools</b>

|Data Science Tools|
|------------------|
|TennsorFlow |
|ApacheSpark|
|RStudio |

<b>Exercise 7 - Create a markdown cell introducing arithmetic expression examples</b>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [6]:
# adding two numbers
print(3+4)
# subtracting two numbers
print(3-4)

7
-1

In [3]:
#This will convert 200 minutes to hours by dividing by 60
m = 200
h = 60

print (m/h)

3.3333333333333335

<b>Exercise 8 - Create a code cell to multiply and add numbers</b>

In [4]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

<b>Exercise 9 - Create a code cell to convert minutes to hours</b>

In [5]:
#This will convert 200 minutes to hours by dividing by 60
m = 200
h = 60

print (m/h)

3.3333333333333335

<b>Exercise 11 - Create a markdown cell to indicate the Author's name</b>

<h2>Author</h2>
Md. Tasrul Mostafiz